.mTab {
  display: flex; flex-wrap: nowrap; overflow-x: auto; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar;
}
.mTab button{
  flex: 0 0 auto !important;

}
.rwt__tabpanel{
  background-color: red;
}
.tabsContainer button[aria-selected="false"] {
  background-color: #f0f0f0 !important;
}
.Tabs_tabsContainer .rwt__tablist {
  margin-right: 0 !important;
  
}
.tabsContainer button[aria-selected="true"] {
  background-color: #3950a1 !important;
  color: #fff !important;
}
.tabsPanel {
  border-color: #3950a1 !important;
  border-width: 1px;
  border-left: transparent;
}
.tabsContainer button[aria-selected="true"]:after {
  border-right: 6px solid #4666d4 !important;
}

.Tabs_tabsContainer .rwt__tabpanel {
  background-color: red !important;
}

